<div class="header">
  <div class="header__content">
    <div class="header__content--menu">
      <h1 class="title">Clima</h1>

      <p-button
        [disabled]="access"
        label="Dashboard"
        [text]="true"
        severity="info"
        (click)="inicio()"
      ></p-button>
    </div>

    <p-button
      id="login"
      (click)="login()"
      [outlined]="true"
      severity="secondary"
      [disabled]="!access"
    >
      Ingresar
    </p-button>
  </div>
</div>

<div class="main">
  <p-tabView>
    <p-tabPanel header="Quito">
      <h1>Febrero</h1>
      <p-tabView>
        <p-tabPanel header="Historico">
          <div>
            <p-chart type="line" [data]="dataQ" [options]="optionsQ"></p-chart>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Hoy">
          <p-splitter [style]="{ height: '400px' }" styleClass="mb-5">
            <ng-template pTemplate>
              <p-image src="{{ img }}" alt="Image" width="250"></p-image>
            </ng-template>
            <ng-template pTemplate>
              <p-panel header="{{ day }}-{{ dia }}">
                <p-divider type="solid"></p-divider>
                <label for="">Temperatura</label>
                <p-inputNumber
                  [(ngModel)]="climatesQ.main.temp"
                  prefix="↑ "
                  inputId="temperature"
                  suffix=" ℃"
                  [min]="0"
                  [max]="40"
                  [disabled]="true"
                >
                </p-inputNumber>
                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Precipitación</label>
                <p-inputNumber
                  [(ngModel)]="climatesQ.rain"
                  inputId="mile"
                  suffix=" mm"
                  [disabled]="true"
                >
                </p-inputNumber>

                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Humedad</label>
                <p-inputNumber
                  inputId="percent"
                  suffix=" %"
                  [(ngModel)]="climatesQ.main.humidity"
                  [disabled]="true"
                ></p-inputNumber>

                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Presion atmosferica</label>
                <p-inputNumber
                  inputId="percent"
                  suffix=" mb"
                  [(ngModel)]="climatesQ.main.pressure"
                  [disabled]="true"
                ></p-inputNumber>

                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Velocidad del viento</label>
                <p-inputNumber
                  inputId="percent"
                  suffix=" m/s"
                  [(ngModel)]="climatesQ.wind.speed"
                  [disabled]="true"
                ></p-inputNumber>
              </p-panel>
            </ng-template>
          </p-splitter>
        </p-tabPanel>
        <p-tabPanel header="Pronostico">
          <p>Pronostico deshabilitado</p>
        </p-tabPanel>
      </p-tabView>
    </p-tabPanel>
    <p-tabPanel header="Guayaquil">
      <h1>Febrero</h1>
      <p-tabView>
        <p-tabPanel header="Historico">
          <div>
            <p-chart type="line" [data]="dataG" [options]="optionsG"></p-chart>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Hoy">
          <p-splitter [style]="{ height: '400px' }" styleClass="mb-5">
            <ng-template pTemplate>
              <p-image src="{{ img }}" alt="Image" width="250"></p-image>
            </ng-template>
            <ng-template pTemplate>
              <p-panel header="{{ day }}-{{ dia }}">
                <p-divider type="solid"></p-divider>
                <label for="">Temperatura</label>
                <p-inputNumber
                  [(ngModel)]="climatesG.main.temp"
                  prefix="↑ "
                  inputId="temperature"
                  suffix=" ℃"
                  [min]="0"
                  [max]="40"
                  [disabled]="true"
                >
                </p-inputNumber>
                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Precipitación</label>
                <p-inputNumber
                  [(ngModel)]="climatesG.rain"
                  inputId="mile"
                  suffix=" mm"
                  [disabled]="true"
                >
                </p-inputNumber>

                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Humedad</label>
                <p-inputNumber
                  inputId="percent"
                  suffix=" %"
                  [(ngModel)]="climatesG.main.humidity"
                  [disabled]="true"
                ></p-inputNumber>

                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Presion atmosferica</label>
                <p-inputNumber
                  inputId="percent"
                  suffix=" mb"
                  [(ngModel)]="climatesG.main.pressure"
                  [disabled]="true"
                ></p-inputNumber>

                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Velocidad del viento</label>
                <p-inputNumber
                  inputId="percent"
                  suffix=" m/s"
                  [(ngModel)]="climatesG.wind.speed"
                  [disabled]="true"
                ></p-inputNumber>
              </p-panel>
            </ng-template>
          </p-splitter>
        </p-tabPanel>
        <p-tabPanel header="Pronostico">
          <p>Pronostico deshabilitado</p>
        </p-tabPanel>
      </p-tabView>
    </p-tabPanel>
    <p-tabPanel header="Cuenca">
      <h1>Febrero</h1>
      <p-tabView>
        <p-tabPanel header="Historico">
          <div>
            <p-chart type="line" [data]="dataC" [options]="optionsC"></p-chart>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Hoy">
          <p-splitter [style]="{ height: '400px' }" styleClass="mb-5">
            <ng-template pTemplate>
              <p-image src="{{ img }}" alt="Image" width="250"></p-image>
            </ng-template>
            <ng-template pTemplate>
              <p-panel header="{{ day }}-{{ dia }}">
                <p-divider type="solid"></p-divider>
                <label for="">Temperatura</label>
                <p-inputNumber
                  [(ngModel)]="climatesC.main.temp"
                  prefix="↑ "
                  inputId="temperature"
                  suffix=" ℃"
                  [min]="0"
                  [max]="40"
                  [disabled]="true"
                >
                </p-inputNumber>
                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Precipitación</label>
                <p-inputNumber
                  [(ngModel)]="climatesC.rain"
                  inputId="mile"
                  suffix=" mm"
                  [disabled]="true"
                >
                </p-inputNumber>

                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Humedad</label>
                <p-inputNumber
                  inputId="percent"
                  suffix=" %"
                  [(ngModel)]="climatesC.main.humidity"
                  [disabled]="true"
                ></p-inputNumber>

                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Presion atmosferica</label>
                <p-inputNumber
                  inputId="percent"
                  suffix=" mb"
                  [(ngModel)]="climatesC.main.pressure"
                  [disabled]="true"
                ></p-inputNumber>

                <p-divider type="solid"></p-divider>
                <br />
                <label for="">Velocidad del viento</label>
                <p-inputNumber
                  inputId="percent"
                  suffix=" m/s"
                  [(ngModel)]="climatesC.wind.speed"
                  [disabled]="true"
                ></p-inputNumber>
              </p-panel>
            </ng-template>
          </p-splitter>
        </p-tabPanel>
        <p-tabPanel header="Pronostico">
          <p>Pronostico deshabilitado</p>
        </p-tabPanel>
      </p-tabView>
    </p-tabPanel>
  </p-tabView>
</div>
